.navigator-component {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  max-width: 200px;
  overflow-x: hidden;
  transition: 0.5s;
}

.navigator-component.collapsed {
  width: 5%;
  max-width: 50px;
}

.navigator-component .navbar {
  height: 100%;
  flex-direction: column;
}

.navigator-component .navbar-nav {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.navigator-component .nav-link {
  color: #000;
}

.navigator-component .nav-link:hover {
  color: #007bff;
}
